@import "~@blueprintjs/core/lib/scss/variables";

.root {
  width: 100%;
}

.content {
  max-width: 800px;
  margin: auto;
  
  background-color: $dark-gray1;

  padding: 1em;
  border-radius: 5px;
  border: 1px solid $dark-gray5;
}

.buttonGroup {
  display: flex;
  gap: 5px;
}

.belowTranscript {
  display: flex;
  justify-content: flex-end;
}
