@use '../../styles/variables' as var;

.root {
  width: 100%;
}

.content {
  max-width: 800px;
  margin: auto;
  
  background-color: var.$dark;

  padding: 1em;
  border-radius: 5px;
  border: 1px solid #444444;
  
  color: var.$text;
}
