@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import "~@blueprintjs/core/lib/scss/variables";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
  height: 100%
}

body {
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;

  background-color: $black;

  font-family: 'Montserrat', sans-serif;
}
