@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
  height: 100%
}

body {
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;

  background-color: #363636;

  font-family: 'Montserrat', sans-serif;
}
