@use '../../styles/variables' as var;

@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.root {
  width: 100%;
  
  margin-bottom: 1em;
  
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;

  background-color: var.$dark;

  border-bottom: 1px solid #444444;

  color: var.$text;
}

.title {
  font-family: 'Tilt Warp', cursive;
}
