.root {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #171717;

  border-top: 1px solid #444444;

  color: #ffffff;
}
